footer {
	background-color: #ffa500;
	color: #1f4690;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}

footer nav ul li a:focus {
	outline: 2px solid #1f4690;
}

@media screen and (max-width: 767px) {
	footer nav {
		display: none;
	}
}
