main {
	margin-top: 50px;
}

main section#hero {
	background-color: #3a5ba0;
	color: #ffe5b4;
	text-align: center;
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

main section#hero aside h2 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 1rem;
}

main section#hero aside img {
	width: clamp(20%, 40%, 60%);
	aspect-ratio: 1/1;
}

main section#hero .wave {
	width: 100vw;
	position: absolute;
	bottom: -5px;
	left: 0;
}

@media screen and (max-width: 1024px) {
	main section#hero .wave {
		display: none;
	}
}
