@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: #3a5ba0;
	color: #ffe5b4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}

header h1 {
	font-weight: 400;
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 20px;
}

header nav li a {
	color: inherit;
	text-decoration: none;
}

header nav li {
	list-style: none;
}

main {
	margin-top: 50px;
}

main section#hero {
	background-color: #3a5ba0;
	color: #ffe5b4;
	text-align: center;
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

main section#hero aside h2 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 1rem;
}

main section#hero aside img {
	width: clamp(20%, 40%, 60%);
}

main section#hero .wave {
	width: 100vw;
	position: absolute;
	bottom: -5px;
	left: 0;
}

main section#articles {
	background-color: #ffa500;
	color: #1f4690;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

main section#articles .content {
	margin-top: 10px;
	margin-bottom: 200px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

main section#articles .content article {
	width: 350px;
	height: 700px;

	background-color: #ffe5b4;

	border-radius: 0 0 10px 10px;

	box-shadow: 0 4px 8px 0 #3a5aa088;
	transition: 0.3s;
}

main section#articles .content article:hover {
	box-shadow: 0 8px 16px 0 #3a5aa088;
}

main section#articles .content article img {
	width: 350px;
	height: 350px;
}

main section#articles .content article main {
	margin: 0;
	margin-top: 10px;
	padding: 0 10px;
}

main section#articles .content article main p {
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
}

main section#articles .content article main h3 {
	font-size: 20px;
	font-weight: 700;
}

main section#articles .wave {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

main section#articles .wave svg {
	position: absolute;
	bottom: -5px;
}

main section#contactus {
	background-color: #3a5ba0;
	color: #1f4690;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #ffe5b4;
}

main section#contactus form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

main section#contactus form .input-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: flex-start;
	width: 30%;
}

main section#contactus form .input-group input,
main section#contactus form .input-group textarea {
	width: 100%;
	padding: 20px 10px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #1f4690;
	background-color: #ffe5b4;
	transition: 0.3s;
}

main section#contactus form .input-group input {
	height: 40px;
}

main section#contactus form .input-group textarea {
	height: 100px;
}

main section#contactus form .input-group input:focus,
main section#contactus form .input-group textarea:focus {
	outline: 2px solid #ffa500;
}

@media screen and (max-width: 1024px) {
	main section#hero .wave,
	main section#articles .wave {
		display: none;
	}
}
